/**{
	border: 1px solid;
}*/

body{
	margin: 0px;
}

#navBar{
	background-color: #a12428;
	color: #ffffff;
	padding-right: 6%;
	padding-left: 1%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	width: 100%;
}

#navBar span{
	font-size: 25px;
	font-variant-caps: small-caps;
	font-weight: bold;
}

.aright{
	display: inline-block;
	float: right;
	padding-right: 1%;
	padding-left: 1%;
	width: 12%;
	padding-top: 0.5%;
}

.aright a{
	color: #ffffff;
	text-decoration: none;
	margin-right: 1%;
	padding: 6%;
}

.aright a:hover{
	background-color: #9c5555;
	color: #330202;
}

#title{
	/*background: -webkit-linear-gradient(top, #a12428 5%, #d25712 100%); 	*/
	background-color: #d25712;
	background-image: url("../img/farmacia.jpg");
	background-origin: top;
	background-size: cover;
	width: 100%;
	text-align: center;
	float: left;
	color: #ffffff;
	padding-bottom: 2%;
}

#title h1{
	text-transform: uppercase;
	margin-bottom: 2%;
	margin-top: 2%;
	font-size: 65px;
	background-color: rgba(161,36,40,0.9);
}

#title a{
	color: #ffffff;
	background-color: rgba(186,60,33,0.5);
	text-decoration: none;
	padding: 1%;
	display: inline-block;
	border-radius: 5px;
	margin-right: 2%;
	width: 20%;
}

#title .active{
	background-color: #ba3c21;
	font-variant-caps: small-caps;
	text-decoration: underline;
}